body {
    background-color: #231f20;
}

// title
h1.title {
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	padding: 90px 0px 40px 0px;
}

// btn customs
.btn-dbwhite {
    background-color: #2b2b2b;
    border: 2px solid #FFF;
    border-radius: 0px;
    &:hover {
        background-color: #FFF;
        color: #2b2b2b;
    }
}
.btn-viewmore {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	&:hover {
		color: #FFF;
	}
}

// bootstrap customs
.thumbnail {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.thumbnail a>img,
.thumbnail>img {
    width: 205px;
}

.caption {
	&>h4 {
		color: #f59b07;
	}
	&>p {
		color: #FFF;
	}
}

// photo hover view
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 70px;
    left: 0;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 205px;
    margin: 0 auto;
}


.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #2b2b2b;
    border: 2px solid #fff;
    margin: 20px 0 0 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hovereffect:hover img {
    opacity: 0.5;
}


.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}


.hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

// end
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.carousel {
    height: 100%;
}

.navbar>.container .navbar-brand {
    margin: 0px;
    margin-top: -30px;
}

.navbar-custom {
    background: transparent;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.58), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.58), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.58), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.58), transparent);
    padding: 80px 0px;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
}

.navbar-custom.affix {
    background-color: #231f20;
    padding: 27px 0px;
}

.navbar-right {
    margin-right: 0px;
}

.about-us {
    display: table;
    width: 100%;
    height: 552px;
    color: #fff;
    text-align: center;
    background: url(../../images/about-us.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

p.max-w {
	max-width: 750px;
	margin: 0 auto;
}



// our service
.our-service {
	background-image: url(../../images/bamboo-bg-left.jpg), url(../../images/bamboo-bg-right.jpg);
    background-position: right top, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%, auto 100%;
    padding-bottom: 70px;
}




// footer 
.footer {
    height: 345px;
    color: #fff;
    text-align: center;
    background: url(../../images/footer-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.copyright {
    background-color: #FFF;
    padding: 25px 0px 15px 0px;
}

@media (min-width: 1200px) {
    .container {
        width: 1366px;
    }
}

@media (min-width: 768px) {
    .navbar-nav>li>a {}
    header {
        position: relative;
        .intro-text {
            position: absolute;
            top: 35%;
            min-width: 1366px;
            font-size: 60px;
            color: #FFF;
            font-weight: bold;
        }
    }
}
